$primary-color: rgb(233, 66, 119);
$secondary-color: rgb(237, 103, 73);
$font-family-primary: 'Roboto', sans-serif;
$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 1.5rem;
$margin-lg: 2rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;