@import "_variables.scss";
@import "_fonts.scss";

.btn{
    font-size: 1.2em;
    padding: 15px 35px;
    border: none;
    border-radius: 5em;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
    text-decoration: none;

    i{
        margin-left: 10px;
    }

    &-primary{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);

        &:hover{
            background: linear-gradient(90deg, $primary-color 0%, $secondary-color 0%);
        }
    }
    &-secondary{
        background-color: $primary-color;

        &:hover{
            background-color: rgb(136, 37, 68);
        }
    }
}

h2{
    color: $primary-color;
}